<!-- Dialog popup -->
<form id="delete" class="white-popup-block dialog-pop mfp-hide">
	<div class="heading">
		<button type="button"><span class="ico-close-cross-circular-interface-button"></span></button>
	</div>
	<div class="dialog-popup center">
		<h6>Delete all dialogs</h6>
		<p>Are you sure? All messages will be removed too.</p>
		<a href="#" class="btn-large waves-effect">Yes</a><a href="#" class="btn-large btn-gray waves-effect">cancel</a>
	</div>
</form>
<!-- /Dialog popup -->

<!-- Dialog popup -->
<form id="clear" class="white-popup-block dialog-pop mfp-hide">
	<div class="heading">
		<button type="button"><span class="ico-close-cross-circular-interface-button"></span></button>
	</div>
	<div class="dialog-popup center">
		<h6>Clear history</h6>
		<p>Are you sure? All messages will be removed.</p>
		<a href="#" class="btn-large waves-effect">Yes</a><a href="#" class="btn-large btn-gray waves-effect">cancel</a>
	</div>
</form>
<!-- /Dialog popup -->

<!-- Dialog popup -->
<form id="deldialog" class="white-popup-block dialog-pop mfp-hide">
	<div class="heading">
		<button type="button"><span class="ico-close-cross-circular-interface-button"></span></button>
	</div>
	<div class="dialog-popup center">
		<h6>Delete dialog</h6>
		<p>Are you sure? All messages will be removed too.</p>
		<a href="#" class="btn-large waves-effect">Yes</a><a href="#" class="btn-large btn-gray waves-effect">cancel</a>
	</div>
</form>
<!-- /Dialog popup -->

<!-- Dialog popup -->
<form id="del-user" class="white-popup-block dialog-pop mfp-hide">
	<div class="heading">
		<button type="button"><span class="ico-close-cross-circular-interface-button"></span></button>
	</div>
	<div class="dialog-popup center">
		<h6>Unblock Aahil Asad</h6>
		<p>Are you sure?</p>
		<a href="#" class="btn-large waves-effect">Yes</a><a href="#" class="btn-large btn-gray waves-effect">cancel</a>
	</div>
</form>
<!-- /Dialog popup -->

<!-- Search -->
<div class="overlay overlay-data">
	<div id="close-search">
		<img src="arba-assets/images/close.svg" alt="Close search">
	</div>
	<form id="nav-search">
		<div class="input-field">
			<i class="prefix ico-magnifier"></i>
			<input id="sinput" type="text">
			<label for="sinput">Enter your request</label>
		</div>
	</form>
</div>
<!-- Search -->